[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
sklearn = "*"
pydot = "*"
ipython = "*"
six = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
